#{{ cm_managed }}
PermitRootLogin without-password
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
UseDNS no
UsePrivilegeSeparation sandbox
Subsystem sftp {{ sftp_location }}
