#{{ cm_managed }}
server {
    listen       80 default;
    listen       [::]:80 default;
    server_name  {{ ansible_fqdn }};
    location / {
        autoindex on;
        root   /srv/www/{{ ansible_fqdn }};
        index  index.php index.html index.htm;
    }
    error_page   500 502 503 504  /50x.html;
    location ~ \.php$ {
        root           /srv/www/{{ ansible_fqdn }};
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }
}
