#{{ cm_managed }}
rocommunity  deathsfolly
{% if location is defined %}
syslocation {{ location }}
{% else %}
syslocation Undefined
{% endif %}
syscontact  noxoid@deathsfolly.net
com2sec notConfigUser  default       deathsfolly
group   notConfigGroup v2c           notConfigUser
access  notConfigGroup ""      any	 noauth    exact  all none none
dontLogTCPWrappersConnects yes

