#{{ cm_managed }}
rocommunity  deathsfolly
syslocation  Undefined
syscontact  noxoid@deathsfolly.net
com2sec notConfigUser  default       deathsfolly
group   notConfigGroup v2c           notConfigUser
access  notConfigGroup ""      any	 noauth    exact  all none none
dontLogTCPWrappersConnects yes

