[base]
name=CentOS-$releasever - Base
{% if yum_repo_url is defined %}
baseurl={{ yum_repo_url }}$releasever/os/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os&infra=$infra
{%endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

[updates]
name=CentOS-$releasever - Updates
{% if yum_repo_url is defined %}
baseurl={{ yum_repo_url }}$releasever/updates/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=updates&infra=$infra
{%endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

[extras]
name=CentOS-$releasever - Extras
{% if yum_repo_url is defined %}
baseurl={{ yum_repo_url }}$releasever/extras/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=extras&infra=$infra
{%endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-$releasever - Plus
{% if yum_repo_url is defined %}
baseurl={{ yum_repo_url }}$releasever/centosplus/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=centosplus&infra=$infra
{%endif %}
gpgcheck=1
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
