exec.start = "/bin/sh /etc/rc";
exec.stop = "/bin/sh /etc/rc.shutdown";
exec.clean;
mount.devfs;
path = "/jails/$name";
allow.raw_sockets=1;
interface = {{ ansible_default_ipv4['device'] }};
allow.chflags=1;

{% if jails is defined %}
{% for key, value in jails.iteritems() %}
{{ key }} {
        host.hostname = "{{ key }}";
        ip4.addr = {{ value.ip }};
}
{% endfor %}
{% endif %}

