table <sshguard> persist
block drop in log quick from <sshguard> to any
block in all

pass in quick inet proto tcp to port 22 keep state
pass in quick inet6 proto tcp to port 22 keep state

{% if tcp_listen is defined %}
#open tcp ports to {{ ansible_hostname }}
{% for port in tcp_listen %}
{% if ansible_default_ipv4['address'] is defined %}
pass in quick inet proto tcp to {{ ansible_default_ipv4['address'] }} port {{ port }} keep state
{% endif %}
pass in quick inet6 proto tcp to port {{ port }} keep state
{% endfor %}
{% endif %}

{% if udp_listen is defined %}
#open udp ports to {{ ansible_hostname }}
{% for port in udp_listen %}
{% if ansible_default_ipv4['address'] is defined %}
pass in quick inet proto udp to {{ ansible_default_ipv4['address'] }} port {{ port }} keep state
{% endif %}
pass in quick inet6 proto udp to port {{ port }} keep state
{% endfor %}
{% endif %}

{% if jails is defined %}
#open ports for jails if defined
{% for key, value in jails.iteritems() %}
{% if value.ports is defined %}
{% for port_type, port_nums in value.ports.iteritems() %}
{% for port in port_nums %}
pass in quick inet proto {{ port_type }} to {{ value.ip }} port {{ port }} keep state
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}


pass in quick inet proto icmp
pass in quick inet6 proto ipv6-icmp
pass in quick on lo0 all
pass out quick on lo0 all

pass out quick all keep state

