#{{ cm_managed }}

server {
    listen       80;
    listen       [::]:80;
    listen       443 ssl;
    listen       [::]:443 ssl;
    ssl_certificate /etc/letsencrypt/live/krieger.deathsfolly.net/cert.pem;
    ssl_certificate_key /etc/letsencrypt/live/krieger.deathsfolly.net/privkey.pem;
    server_name  krieger.deathsfolly.net;
    location / {
        autoindex on;
        root   /srv/www/krieger.deathsfolly.net;
        index  index.php index.html index.htm;
    }
    error_page   500 502 503 504  /50x.html;
    location ~ \.php$ {
        root           /srv/www/krieger.deathsfolly.net;
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }

}

