#{{ cm_managed }}
server {
    listen       80;
    listen       [::]:80;
    server_name mtr.deathsfolly.net;
    rewrite     ^   https://$server_name$request_uri? permanent;
}
server {
    listen       443 ssl;
    listen       [::]:443 ssl;
    ssl_certificate /etc/letsencrypt/live/mtr.deathsfolly.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/mtr.deathsfolly.net/privkey.pem;
    server_name  mtr.deathsfolly.net;
    error_page   500 502 503 504  /50x.html;
    root /srv/www/mtr.deathsfolly.net;

location ~ ^/icingaweb2/index\.php(.*)$ {
  fastcgi_pass 127.0.0.1:9000;
  fastcgi_index index.php;
  include fastcgi_params;
  fastcgi_param SCRIPT_FILENAME /opt/icingaweb2/public/index.php;
  fastcgi_param ICINGAWEB_CONFIGDIR /etc/icingaweb2;
  fastcgi_param REMOTE_USER $remote_user;
}

location ~ ^/icingaweb2(.+)? {
  alias /opt/icingaweb2/public;
  index index.php;
  try_files $1 $uri $uri/ /icingaweb2/index.php$is_args$args;
}


}

