server {
    listen       80;
    listen       [::]:80;
    server_name  yum.deathsfolly.net;
    location / {
        autoindex on;
        root   /srv/www/yum.deathsfolly.net;
        index  index.php index.html index.htm;
    }
    error_page   500 502 503 504  /50x.html;
}
